.block-grid-cards {
  h3 {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 16px;
    max-width: 840px;
  }

  .introduction {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 39px;
    max-width: 840px;
  }

  .row {
    --bs-gutter-y: 24px;
  }
}

.generic-card {
  height: 100%;

  .ui-card {
    gap: 30px;
    flex-direction: column-reverse;

    .card-content {
      gap: 0;
      padding: 30px 30px 0;

      .card-data {
        .tags-date-wrapper {
          display: none;
        }

        h3 {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 31px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          margin-bottom: 16px;
        }

        .introduction {
          margin: 0;

          p {
            color: var(--neutral-black);
            font-family: var(--main-font);
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            margin: 0;
          }
        }
      }
    }

    .image {
      padding: 30px;
      height: auto;

      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .block-grid-cards {
    h3 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .introduction {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .row {
      --bs-gutter-y: 16px;
    }
  }

  .generic-card {
    .ui-card {
      gap: 0;

      .card-content {
        padding: 20px;

        .card-data {
          h3 {
            font-size: 24px;
            margin-bottom: 10px;
          }

          .introduction {
            p {
              font-size: 18px;
            }
          }
        }

        .image {
          padding: 20px;
          height: 100px;
        }
      }
    }
  }
}