.block-narrative-full {
  background: var(--np-neutral-4);

  .meta {
    padding: 150px 0;
    max-width: 515px;

    .title {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 49px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 25px;

      b,
      strong {
        color: var(--lavander-alternative);
      }
    }

    .introduction {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
    }

    .button-list {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .block-narrative-full {
    background-image: none !important;

    .meta {
      padding: 50px 0;

      .title {
        font-size: 36px;
        line-height: 110%;
        margin-bottom: 15px;
      }

      .introduction {
        font-size: 18px;
      }

      .button-list {
        margin-top: 15px;
      }
    }

    .image-container {
      display: none;
    }
  }
}