.special-hero {
  height: 100%;
  min-height: 900px;
  padding: 170px 0 0 0;
  background-color: rgba(227, 227, 255, .7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  .wrapper-hero {
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    padding-bottom: 170px;
    position: relative;
    flex: 1;
  }

  .waves-decorator {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  h1 {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 15px;
  }

  .introduction {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  &.yellow {
    background-color: rgba(255, 205, 105, .3);
  }

  &.promise {
    .wrapper-hero {
      background-position-y: 0;
      background-size: cover;
    }
  }

  &.resources {
    background: rgba(128, 170, 255, .2);
  }
}

@media screen and (max-width: 1600px) {
  .special-hero {
    .wrapper-hero {
      background-size: 65%;
    }

    &.promise {
      .wrapper-hero {
        background-position-y: 100%;
        background-size: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .special-hero {
    padding: 120px 0 20px 0;
    height: auto;
    min-height: auto;

    .wrapper-hero {
      padding: 0;
      background-image: none !important;
    }

    h1 {
      font-size: 35px;
    }

    .introduction {
      font-size: 20px;
    }

    .waves-decorator {
      display: flex;
      justify-content: flex-end;

      svg {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .special-hero {
    .waves-decorator {
      display: block;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}