.ui-resource-card {
  height: 100%;

  .ui-card {
    .card-content {
      padding: 30px 20px;

      .card-data {
        h3 {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }
    }

    &:hover {
      background-color: var(--lavander);

      .card-content {
        .card-data {
          h3 {
            color: var(--neutral-white);
          }
        }
      }
    }
  }
}