.ui-resource-card {
  height: 100%;

  .ui-card {
    min-height: 370px;
    background-color: var(--neutral-white);

    .card-content {
      padding: 20px;

      .card-data {
        h3 {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          margin-bottom: 10px;
        }

        .introduction {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          color: rgba(0, 0, 0, .6);
        }

        .tags-date-wrapper {
          margin-bottom: 23px;

          .tags {
            flex-wrap: wrap;

            .tag {
              background: var(--lavander-alternative) !important;
              color: var(--neutral-white) !important;
            }
          }

          .date {
            display: none;
          }
        }
      }
    }

    &:hover {
      background-color: var(--neutral-white);
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

@media screen and (max-width: 992px) {
  .ui-resource-card {
    .ui-card {
      .card-content {
        padding: 10px 10px 20px 10px;

        .card-data {
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
}