@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('./normalize.css');
@import url('https://use.typekit.net/pzu4hew.css');

html {
  // Colors
  --yellow: #FFCD69;
  --lavander: #A2A2F8;
  --lavander-alternative: #46469E;
  --lavander-light: #d0d8ff;
  --dark-purple: #46469E;
  --pink: #F2C0F2;
  --green: #95DAB3;
  --alternative-green: #60C28B;
  --orange: #FF9A56;
  --blue: #80AAFF;
  --neutral-white: #ffffff;
  --neutral-black: #000;
  --np-neutral-1: #BEBEB3;
  --np-neutral-2: #F2F2EA;
  --np-neutral-2-alternative: #F7F7F7;
  --np-neutral-3: #F9F9F2;
  --np-neutral-4: #E3E3FF;
  --alert-color: #FF0000;

  // Fonts
  --main-font: "inria-sans", Arial !important;
  --secondary-font: 'Inter', sans-serif !important;

  // Default font
  font-family: var(--main-font);
  overflow-x: hidden;
}

#np-layout {

  .button-wrapper .button-block.default,
  .button-wrapper .button-block.primary {
    color: var(--neutral-white);
    text-decoration: none;
  }

  .structured-image .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .caption {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;

    img {
      width: auto !important;
      margin-bottom: 0;
    }
  }

  .search-engine {
    background: var(--np-neutral-4);

    form {
      position: relative;

      label {
        font-family: var(--main-font);
      }

      input[type=search] {
        padding: 20px 16px;
        border-radius: 4px;
        border: 1px solid #C6C9CE;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        background: var(--neutral-white);
        min-height: auto;
        height: 100%;
        font-family: var(--main-font);

        &::placeholder {
          font-size: 1rem;
          font-family: var(--main-font);
        }
      }

      .btn-submit {
        position: absolute;
        right: 35px;
        bottom: 17px;
        background-image: url('../images/search-icon.svg');
      }
    }
  }

  .ui-narrative-block-component {
    .container {
      padding: 0;
      gap: 39px;
    }

    .meta {
      h2 {
        color: var(--lavander-alternative);
        font-family: var(--main-font);
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 25px;
      }

      .content p {
        color: var(--neutral-black);
        font-family: var(--main-font);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin: 0;
      }
    }

    .image * {
      max-width: 100%;
      max-height: 457px;

      img {
        object-fit: cover;
      }
    }

    &.left {
      .container {
        grid-template-areas: "column2 column1";
      }
    }
  }

  .ui-notification-block {
    padding: 15px 0;
    background: var(--blue);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.35);

    .information {
      p {
        color: var(--neutral-white);
        text-align: center;
        font-family: var(--main-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin: 0;
      }

      a {
        font-weight: 700;
        color: var(--neutral-white);
        text-decoration: underline;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .close-btn {
      top: 40%;
    }

    &+.ui-navbar {
      top: 120px;

      @media screen and (max-width: 1406px) and (min-width: 992px) {
        top: 135px;
      }
    }
  }

  .ui-breadcrumb {
    margin-bottom: 39px;

    ul li {
      color: var(--lavander-alternative);
      font-family: var(--main-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;

      a {
        color: var(--lavander-alternative);
        text-decoration: none;
        border: unset;

        &:hover {
          color: var(--lavander);
          text-decoration: underline;
        }
      }

      &:hover {
        a:not([href]) {
          color: var(--lavander-alternative);
          text-decoration: none;
        }
      }

      &.active {
        color: var(--neutral-black);
      }
    }
  }

  .ui-floating-share-buttons {
    align-items: flex-end;

    button {
      background: var(--lavander-alternative);

      &:hover {
        opacity: 0.8;
      }
    }

    .social-networks {
      z-index: 1;

      svg path {
        fill: var(--lavander-alternative)
      }

      .close svg path {
        stroke: var(--lavander-alternative)
      }
    }
  }

  .ui-accordion-block {
    .item {
      border-radius: 5px;
      border: 2px solid #C3C3F8;
      background: var(--C2-Neutral-4, #E3E3FF);
      padding: 25px 30px;
      margin-bottom: 25px;

      .accordion-title {
        h3 {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }

      .accordion-content {}

      &.active {
        border-radius: 5px;
        border-color: var(--neutral-white);
        background: var(--neutral-white);

        .accordion-title {
          margin-bottom: 20px;
        }

        .accordion-content {
          padding: 0;

          ul {
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 2rem;

              h3 {
                color: var(--neutral-black);
                font-family: var(--main-font);
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 135%;
                margin-bottom: 0;
              }

              span {
                color: var(--neutral-black);
                font-family: var(--main-font);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
              }
            }
          }
        }
      }
    }

  }

  .tag {
    padding: 3px 7px;
    background: var(--neutral-black);
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
  }

  .button-block {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    padding: 8px 16px;

    &.default,
    &.primary {
      text-transform: uppercase;
      color: var(--neutral-white);
      background-color: var(--lavander-alternative);
      text-decoration: none;

      &:hover {
        border: 2px solid var(--lavander-alternative);
        color: var(--lavander-alternative);
        background: rgba(125, 125, 240, 0.10);

        &::after {
          background-image: url('../images/button-icon-purple.svg');
        }
      }
    }

    &.secondary {
      color: var(--lavander-alternative);
      background-color: transparent;
      border-radius: unset;
      border-color: transparent;
      text-transform: uppercase;
      border: unset;
      border-bottom: 1px solid transparent;

      &:hover {
        background-color: transparent;
        color: var(--lavander-alternative);
        border: unset;
        border-bottom: 1px solid var(--lavander-alternative);
      }

      &::after {
        background-image: url('../images/button-icon-purple.svg');
      }
    }

    &.white {
      color: var(--lavander-alternative);
      background-color: var(--neutral-white);

      &::after {
        background-image: url('../images/button-icon-purple.svg');
      }

      &:hover {
        opacity: .8;
      }
    }

    &.minimal {
      border-radius: 4px;
      border: 2px solid var(--np-neutral-2);
      background: var(--neutral-white);
      text-decoration: none !important;

      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      display: inline-flex;
      width: 14px;
      height: 11px;
      margin-left: 10px;
      background-image: url('../images/button-icon.svg');
      background-repeat: no-repeat;
    }

    &.small {
      font-size: 18px;
      padding: 6px 14px;
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  .ui-carousel {
    .carousel-actions {
      span {
        &:hover {
          background-color: var(--lavander);
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  // Utils
  .max-container-840 {
    max-width: 840px;

    &.center {
      margin: 0 auto;
    }
  }

  .basic-content {
    max-width: 900px;

    &.test-no-publish {
      max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    h1,
    h2 {
      font-size: 2rem;
    }

    p {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
    }

    a:not(.ui-card) {
      font-family: var(--main-font);
      color: var(--lavander-alternative);
      text-decoration: underline;

      * {
        font-weight: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
      }

      &:hover {
        color: var(--neutral-black);
      }
    }

    blockquote {
      margin: 40px 0;
      max-width: 624px;

      &::before {
        content: '';
        display: inline-block;
        width: 85px;
        height: 4px;
        background: #000;
      }

      p {
        color: var(--neutral-black);
        font-family: var(--main-font);
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        padding: 0;
        padding-top: 20px;
      }

      footer {
        color: var(--neutral-black);
        font-family: var(--main-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
      }
    }

    ol,
    ul {
      padding: 0;
      padding-left: 2rem;
    }

    p:has(mark) {
      margin-bottom: 12px;
    }

    mark {
      color: var(--dark-purple);
      font-family: var(--main-font);
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 145%;
      background-color: transparent;
      padding: 0;
    }

    hr {
      margin: 1.2rem 0;
    }

    &.story {

      h1,
      h2 {
        font-size: 25px;
        font-family: var(--main-font);
      }
    }
  }

  .not-found {
    min-height: 90dvh;
    background-color: var(--np-neutral-2);
    padding: 170px 0;

    h1 {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 20px;
    }
  }

  .introduction {
    margin-bottom: 30px;
  }

  // Image alignment
  .img-alignment-left {
    max-width: 50%;
    height: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    clear: left;
    float: left;

    img {
      max-height: 500px;
      object-fit: cover;
    }
  }

  .img-alignment-right {
    max-width: 50%;
    height: auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
    clear: right;
    float: right;

    img {
      height: auto;
      max-height: 500px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #np-layout {
    .ui-navbar {
      .container {
        .links-wrapper .links {
          gap: 20px;

          .nav-item {
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #np-layout {
    .tag {
      font-size: 13px;
    }

    .button-block {
      font-size: 16px;
    }

    .ui-notification-block {
      padding: 8px 16px;

      .information {
        max-width: calc(100% - 30px);

        p {
          font-size: 14px;
          text-align: left;
        }
      }

      &+.ui-navbar {
        top: 72px;
      }
    }

    .search-engine {
      header {
        padding: 18px;
      }

      .content {
        width: calc(100% - 30px);
        margin-top: 0rem;

        form {
          label {
            font-size: 30px;
          }

          input[type=search] {
            padding: 15px 12px;
            font-size: 16px;
          }
        }
      }
    }

    .ui-navbar {
      height: auto;
      display: block;
      position: unset !important;
      background-color: var(--np-neutral-3);
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.35);

      .container {
        padding: 18px;
        border-radius: unset;
        box-shadow: unset;
        justify-content: space-between;

        .navbar-toggler {
          padding: 0;
          background: transparent;

          span {
            background: var(--neutral-black);
          }
        }

        .navbar-brand {
          svg {
            width: 140px;
          }
        }
      }

      &.sticky {
        position: fixed !important;
        top: 0 !important;
        height: auto;
        position: fixed;
      }

      .navbar-toggler-icon,
      .navbar-toggler-icon:after,
      .navbar-toggler-icon:before {
        height: 3px !important;
        background-color: var(--neutral-black) !important;
      }

      .navbar-toggler {
        &:hover {

          .navbar-toggler-icon {

            &::after,
            &::before {
              background-color: var(--lavander-alternative) !important;
            }

            background-color: var(--lavander-alternative) !important;
          }
        }
      }

      &.expanded {
        position: fixed !important;
        top: 0;

        .container {
          position: relative;
          align-items: flex-start;
          flex-direction: column;

          .navbar-toggler {
            position: fixed;
            top: 23px;
            right: 15px;
          }

          .links-wrapper {
            width: 100%;
            padding: 0;
            margin-top: 2rem;

            .links {
              align-items: flex-start;
              flex-direction: column;

              .nav-item {
                padding: 0;
                width: 100%;
                align-items: flex-start;
                flex-direction: column;

                a {
                  font-size: 18px;
                  width: 100%;
                  display: flex;
                  gap: 10px;
                  padding-bottom: .5rem;
                }

                .dropdown-menu {
                  position: unset;
                  width: 100%;
                  padding: 0;
                  padding-left: 1rem;
                  padding-top: .5rem;
                  gap: 5px;
                  box-shadow: unset;

                  .dropdown-item {
                    .dropdown-link {
                      font-size: 16px;
                      padding: 10px 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .ui-narrative-block-component {
      .container {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .meta {
          gap: 0;
          flex-direction: column;

          h3 {
            font-size: 20px;
            margin: 0;
          }

          h2 {
            font-size: 25px;
            margin-bottom: 1rem;
          }

          .content {
            margin: 0;

            p {
              font-size: 16px;
              line-height: 125%;
            }
          }
        }
      }
    }

    .ui-accordion-block {
      .item {
        padding: 10px 15px;
        margin-bottom: 15px;

        .accordion-title {
          h3 {
            font-size: 18px;
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .accordion-content {
          p {
            font-size: 16px;
          }
        }
      }
    }

    .ui-floating-share-buttons {
      button:hover {
        opacity: 1;
      }
    }

    .basic-content {
      max-width: 100%;

      h1,
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 18px;
      }

      blockquote {
        p {
          font-size: 24px;
        }

        footer {
          font-size: 14px;
        }
      }

      mark {
        font-size: 20px;
        line-height: 130%;
      }
    }

    .max-container-840 {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      padding-left: calc(var(--bs-gutter-x) * .5);
      padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .img-alignment-right,
    .img-alignment-left {
      max-width: 100%;
      margin: 0;
      clear: unset;
      float: unset;

      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

// Blog list fixes
@media screen and (max-width: 1400px) {
  #blog-list.list-wrapper .children .row {
    --bs-gutter-x: 10px;
    --bs-gutter-y: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #blog-list.list-wrapper .children .row .col-lg-4 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  #blog-list.list-wrapper .children .row .col-lg-4 {
    width: 100%;
  }
}