@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('./normalize.css');
@import url('https://use.typekit.net/pzu4hew.css');

html {
  // Colors
  --yellow: #FFCD69;
  --lavander: #A2A2F8;
  --lavander-alternative: #7D7DF0;
  --pink: #F2C0F2;
  --green: #95DAB3;
  --alternative-green: #60C28B;
  --orange: #FF9A56;
  --blue: #80AAFF;
  --neutral-white: #ffffff;
  --neutral-black: #000;
  --np-neutral-1: #BEBEB3;
  --np-neutral-2: #F2F2EA;
  --np-neutral-2-alternative: #F7F7F7;
  --np-neutral-3: #F9F9F2;
  --np-neutral-4: #E3E3FF;

  // Fonts
  --main-font: "inria-sans", Arial !important;
  --secondary-font: 'Inter', sans-serif !important;

  // Default font
  font-family: var(--main-font);
  overflow-x: hidden;
}

#np-layout {
  .ui-navbar {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    padding: 0;
    min-height: unset;
    background-color: transparent;

    .container {
      display: flex;
      align-items: center;
      background-color: var(--np-neutral-3);
      padding: 0 25px;
      border-radius: 4px;
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.35);
    }

    .links-wrapper ul.links {
      height: auto;

      .btn-search {
        padding: 0;
        background: transparent;

        &:hover {
          svg path {
            stroke: var(--lavander-alternative);
          }
        }
      }

      .nav-item {
        padding: 25px 0;

        a {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;

          &:hover {
            color: var(--lavander-alternative);
          }

          &:hover svg path {
            stroke: var(--lavander-alternative);
          }
        }
      }

      .dropdown-menu {
        width: auto;
        gap: 30px;
        border-top: 3px solid var(--lavander-alternative);
        border-radius: 0px 0px 4px 4px;
        padding: 20px;

        .dropdown-item {
          width: fit-content;

          a {
            font-size: 17px;
            color: var(--neutral-black);
            font-family: var(--main-font);
            font-style: normal;
            font-weight: 400;
            line-height: 135%;

            &:hover {
              color: var(--lavander-alternative);
            }
          }
        }
      }
    }
  }

  .search-engine {
    background: var(--np-neutral-4);

    &__close-icon span {
      font-family: var(--main-font);
    }

    input[type=search] {
      padding: 11px 16px;
      border-radius: 4px;
      border: 1px solid #C6C9CE;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      background: var(--neutral-white);
      min-height: auto;
      height: 100%;
      font-family: var(--main-font);

      &::placeholder {
        font-size: 1rem;
        font-family: var(--main-font);
      }
    }
  }

  .ui-narrative-block-component {
    background-color: #E3E3FD;

    .meta {
      padding: 145px 0 150px 0;

      h3 {
        color: var(--neutral-black);
        font-family: var(--main-font);
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        text-transform: unset;
        margin-bottom: 25px;
      }

      .content {
        color: var(--neutral-black);
        font-family: var(--main-font);
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin-bottom: 35px;
      }
    }

    .image {
      background-color: var(--neutral-white);

      .image-wrapper {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }

  .ui-notification-block {
    padding: 15px 0;
    background: var(--blue);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.35);

    .information {
      p {
        color: var(--neutral-white);
        text-align: center;
        font-family: var(--main-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin: 0;
      }

      a {
        font-weight: 700;
        color: var(--neutral-white);
        text-decoration: underline;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .close-btn {
      top: 40%;
    }
  }

  .ui-breadcrumb {
    margin-bottom: 39px;

    ul li {
      color: var(--lavander-alternative);
      font-family: var(--main-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;

      a {
        color: var(--lavander-alternative);
        text-decoration: none;
        border: unset;

        &:hover {
          color: var(--lavander);
          text-decoration: underline;
        }
      }

      &.active {
        color: var(--neutral-black);
      }
    }
  }

  .ui-floating-share-buttons {
    align-items: flex-end;

    button {
      background: var(--lavander-alternative);

      &:hover {
        opacity: 0.8;
      }
    }

    .social-networks {
      z-index: 1;

      svg path {
        fill: var(--lavander-alternative)
      }

      .close svg path {
        stroke: var(--lavander-alternative)
      }
    }
  }

  .tag {
    padding: 3px 7px;
    background: var(--neutral-black);
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
  }

  .button-block {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    padding: 8px 16px;

    &.default,
    &.primary {
      color: var(--neutral-white);
      background-color: var(--lavander);

      &:hover {
        border: 2px solid var(--lavander-alternative);
        color: var(--lavander-alternative);
        background: rgba(125, 125, 240, 0.10);
      }
    }

    &.secondary {
      color: var(--lavander-alternative);

      background-color: transparent;
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}