.ui-blog-card {
  height: 100%;

  .ui-card {
    border-radius: unset;

    .image {
      height: 270px;

      .image-wrapper {
        height: 270px;

        img {
          object-fit: cover !important;
        }
      }
    }

    .card-content {
      padding: 20px 20px 40px 20px;
      fill: var(--C2-White, #FFF);

      .card-data {
        h3 {
          color: var(--neutral-black);
          font-family: var(--main-font);
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      background-color: var(--lavander-alternative);

      .card-content {
        .card-data {
          h3 {
            color: var(--neutral-white);
          }
        }
      }
    }
  }
}