.list-wrapper {
  position: relative;
  min-height: 100dvh;

  .waves-decorator {
    position: absolute;
    top: 0;
    right: 0;
  }

  .children {
    padding-top: 170px;
    padding-bottom: 150px;
    position: relative;

    h1 {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 65px;

      &.small {
        font-size: 60px;
      }
    }

    .row {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 54px;
    }

    .load-more {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 55px;

      button {
        padding: 8px 0px;
        color: var(--lavander-alternative);
        font-family: var(--main-font);
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        text-transform: uppercase;
        background-color: transparent;
        border: unset;

        &:hover {
          opacity: 0.8;
          text-decoration: underline;
        }
      }
    }
  }

  &.blue {
    background-color: rgba(128, 170, 255, .2);
  }

  &.lavander {
    background-color: rgba(227, 227, 255, .7);

    .waves-decorator svg path {
      fill: #7D7DF0;
    }
  }

  &.basic-page {

    .image-wrapper,
    .button-block,
    .embed {
      margin: 1rem 0;
    }

    .block-grid-cards {
      margin: 1rem 0;

      .container {
        padding: 0;
      }
    }

    img {
      width: auto;
      height: auto;
    }

    &.with-header {
      .children {
        padding-top: 100px;
      }
    }
  }

  &.funder-list {
    h3.sub-title {
      font-weight: 700;
      font-family: var(--main-font);
      font-size: 30px;
      margin-bottom: 1rem;

      &.extra {
        margin-top: 5rem;
      }
    }

    .row {
      margin-bottom: 40px;
      --bs-gutter-x: 20px;
      --bs-gutter-y: 30px;
    }
  }

  &.stories {
    img {
      margin-bottom: 1.5rem;
    }
  }

  &.resources {
    background: var(--np-neutral-4);

    .children {
      padding-top: 50px;
    }
  }

  &.team-list {
    .children {
      .row {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 0px;
      }

      h4.heading {
        color: var(--neutral-black);
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .list-wrapper {
    .waves-decorator {
      svg {
        width: 100%;
        height: auto;
      }
    }

    .children {
      padding-top: 120px;
      padding-bottom: 100px;

      h1 {
        font-size: 35px !important;
        margin-bottom: 30px;
      }

      .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 25px;
      }

      .max-container-840 {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .load-more {
        margin-top: 40px;

        button {
          font-size: 18px;
        }
      }
    }

    &.basic-page {
      .waves-decorator {
        display: flex;
        justify-content: flex-end;

        svg {
          width: 50%;
        }
      }
    }

    &.resources {
      .container.children .filterable-list .row {
        --bs-gutter-x: 25px;
      }
    }

    &.funder-list {
      h3.sub-title {
        font-size: 22px;
      }

      .row {
        margin-bottom: 0;
        margin-top: 0;
        --bs-gutter-x: 1rem;
      }
    }

    &.team-list {
      .children {
        .row {
          --bs-gutter-y: 15px;
          margin-top: .5rem !important;
          padding-bottom: 1rem !important;
        }

        h4.heading {
          margin-top: 40px;
          font-size: 25px;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .list-wrapper {
    &.basic-page {
      .waves-decorator {
        display: block;

        svg {
          width: 100%;
        }
      }
    }
  }
}