.list-wrapper {
  position: relative;
  min-height: 100dvh;

  .waves-decorator {
    position: absolute;
    top: 0;
    right: 0;
  }

  .children {
    padding-top: 170px;
    padding-bottom: 300px;

    h1 {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 65px;
    }

    .row {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 54px;
    }
  }

  &.blue {
    background-color: rgba(128, 170, 255, .2);
  }

  &.lavander {
    background-color: rgba(227, 227, 255, .7);

    .waves-decorator svg path {
      fill: #7D7DF0;
    }
  }

  &.basic-page {

    .image-wrapper,
    .button-block,
    .embed {
      margin: 1rem 0;
    }

    .block-grid-cards {
      margin: 1rem 0;

      .container {
        padding: 0;
      }
    }
  }

  &.funder-list {
    h1 {
      font-family: var(--main-font);
      margin-bottom: 100px;
    }

    h3.sub-title {
      font-weight: 700;
      font-family: var(--main-font);
      font-size: 30px;
      margin-bottom: 1rem;

      &.extra {
        margin-top: 5rem;
      }
    }

    .row {
      margin-bottom: 40px;
    }
  }

  &.stories {
    img {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .list-wrapper {
    .waves-decorator {
      svg {
        width: 100%;
        height: auto;
      }
    }

    .children {
      padding-top: 120px;
      padding-bottom: 200px;

      h1 {
        font-size: 35px;
        margin-bottom: 30px;
      }

      .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 25px;
      }
    }
  }
}