.block-updates {
  padding: 95px 0 0 0;
  background-color: var(--neutral-black);

  h3 {
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 39px;
  }

  .button-list {
    margin-top: 59px;
    margin-bottom: 100px;
  }

  &__background-image {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .block-updates {
    padding: 50px 0;

    h3 {
      font-size: 36px;
      margin-bottom: 30px;
    }

    .button-list {
      margin-top: 40px;
      margin-bottom: 0;
    }

    &__background-image {
      display: none;
    }
  }
}