.block-updates {
  padding: 95px 0 0 0;
  background-color: var(--neutral-black);

  h3 {
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 39px;
  }

  .introduction {
    color: var(--neutral-white);
    font-family: var(--main-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 31px;
    margin-bottom: 50px;
    max-width: 840px;

    p {
      margin: 0;
    }
  }

  .button-list {
    margin-top: 59px;
    margin-bottom: 100px;
  }

  &__background-image {

    img,
    svg {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .block-updates .row {
    --bs-gutter-x: 10px;
    --bs-gutter-x: 10px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .block-updates .col-lg-4 {
    width: 50%;
  }

  .block-updates .row {
    --bs-gutter-y: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .block-updates {
    padding: 50px 0;

    h3 {
      font-size: 36px;
      margin-bottom: 30px;
    }

    .introduction {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .row {
      --bs-gutter-x: 25px;
      --bs-gutter-y: 25px;
    }

    .button-list {
      margin-top: 40px;
      margin-bottom: 0;
    }

    &__background-image {
      display: none;
    }
  }
}