.cookies-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  padding: 27px 0 30px 0;
  background: var(--np-neutral-3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  p {
    font-family: var(--main-font);
    color: var(--neutral-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    margin: 0;
    margin-bottom: 5px;
  }

  a {
    font-style: italic;
    color: var(--neutral-black);

    &:hover {
      opacity: 0.8;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 1rem;

    .button-block.reject {
      background-color: var(--neutral-black);

      &:hover {
        opacity: 0.8;
      }

      &::after {
        width: 20px !important;
        height: 18px !important;
        background-image: url('../../../images/reject-icon.svg') !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cookies-banner {
    padding: 20px 0 20px 0;

    p {
      font-size: 16px;
    }

    .buttons {
      justify-content: flex-start;

      .btn {
        font-size: 16px;
        padding: 10px 15px 10px 15px;
      }
    }
  }
}