.block-headlines-grid {
  display: flex;
  align-items: flex-start;
  gap: 50px;

  .title-item {
    .separator {
      width: 85px;
      height: 4px;
      background: #000;
      margin-bottom: 20px;
    }

    .text p {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .block-headlines-grid {
    flex-direction: column;
    gap: 30px;

    .title-item {
      .separator {
        margin-bottom: 10px;
      }

      .text p {
        font-size: 25px;
      }
    }
  }
}