#ui-block-list {
  margin: 3rem 0;

  .headline {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-weight: bolder;
  }

  .list-content {
    ul {
      padding: 0;
      padding-left: 3rem;
      color: var(--neutral-black);
      font-family: var(--main-font);

      li p {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #ui-block-list {
    margin: 1.5rem 0;

    .list-content {
      ul {
        li p {
          font-size: inherit;
        }
      }
    }
  }
}