.text-content {
  padding-top: 101px;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  .top-heading {
    max-width: 840px;
    margin-bottom: 49px;
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;

    b,
    strong {
      color: var(--alternative-green);
    }
  }

  a {
    color: var(--neutral-white);
    text-decoration: none !important;
    background-color: var(--lavander-alternative);

    &:hover {
      opacity: 0.8;
    }
  }

  blockquote {
    margin: 40px 0;
    max-width: 624px;

    &::before {
      content: '';
      display: inline-block;
      width: 85px;
      height: 4px;
      background: #000;
    }

    p {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      padding: 0;
      padding-top: 20px;
    }

    footer {
      color: var(--neutral-black);
      font-family: var(--main-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
    }
  }

  ol,
  ul {
    padding: 0;
    padding-left: 1rem;
  }

  p {
    color: var(--neutral-black);
    font-family: var(--main-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;

    &:empty:before {
      content: " ";
      white-space: pre;
    }
  }

  .decorator {
    position: absolute;
    top: 100px;
    right: calc((100% - 840px - 604px) / 2);
    z-index: -1;
    opacity: 0.8;
  }

  &.our-impact {
    .block-stories {
      padding: 105px 0;

      h3 {
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .text-content {
    padding: 50px 0;

    h1,
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 18px;

      &:empty:before {
        display: block;
        height: 0px;
      }
    }

    blockquote {
      p {
        font-size: 24px;
      }

      footer {
        font-size: 14px;
      }
    }

    .top-heading {
      font-size: 25px;
      margin-bottom: 20px;
    }

    .block-stories {
      padding: 50px 0 !important;

      h3 {
        font-size: 24px !important;
        margin-bottom: 15px !important;
      }
    }

    .decorator {
      display: none;
    }

    .max-container-840 {
      max-width: 720px !important;
    }

    &.our-impact {
      padding-bottom: 0;
    }
  }
}


@media screen and (max-width: 767px) and (min-width: 545px) {
  .text-content {
    .max-container-840 {
      max-width: 540px !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .text-content {
    .max-container-840 {
      max-width: 100% !important;
    }
  }
}