.footer-wrapper {
  background: var(--neutral-black);

  .meta {
    padding: 66px 25px 50px 0;

    .logo {
      display: inline-block;
      margin-bottom: 57px;
    }

    .links-wrapper {
      display: flex;
      align-items: center;
      gap: 49px;
      flex-wrap: wrap;
      padding-bottom: 73px;
      margin-bottom: 35px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);

      a {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        text-decoration: none;

        &:hover {
          color: var(--lavander-alternative);
        }
      }
    }

    .extra-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 100px;

      .links {
        display: flex;
        align-items: center;
        gap: 41px;

        a {
          color: var(--neutral-white);
          font-family: var(--main-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          text-decoration: none;

          &:hover {
            color: var(--lavander-alternative);
          }
        }
      }
    }
  }

  .form-wrapper {
    background: var(--lavander-alternative);
    position: relative;

    &::before {
      content: '';
      display: block;
      background: var(--lavander-alternative);
      width: 100dvh;
      height: 100%;
      top: 0;
      right: -100dvh;
      position: absolute;
    }

    .form {
      padding: 66px 0 50px 34px;

      h4 {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 21px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 17px;

        input {
          border-radius: 4px;
          border: 2px solid var(--neutral-white);
          background: var(--lavander);
          color: var(--neutral-white);

          font-family: var(--main-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;

          &::placeholder {
            color: var(--neutral-white);
          }
        }

        button {
          padding: 8px 16px;
          border-radius: 4px;
          background: var(--neutral-white);
          color: var(--lavander-alternative);
          font-family: var(--main-font);
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%;
          border: unset;
          width: fit-content;

          &:hover {
            border: 2px solid var(--neutral-white);
            color: var(--neutral-white);
            background: rgba(125, 125, 240, 0.10);
          }
        }
      }
    }
  }
}