.footer-wrapper {
  background: var(--neutral-black);
  overflow-x: hidden;

  .meta {
    padding: 66px 25px 50px 0;

    .logo {
      display: inline-block;
      margin-bottom: 57px;
    }

    .links-wrapper {
      display: flex;
      align-items: center;
      gap: 49px;
      flex-wrap: wrap;
      padding-bottom: 73px;
      margin-bottom: 35px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);

      a {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        text-decoration: none;

        &:hover {
          color: var(--lavander-alternative);
        }
      }
    }

    .extra-links {
      display: flex;
      flex-direction: column-reverse;
      gap: 70px;

      .links {
        display: flex;
        align-items: center;
        gap: 41px;

        a {
          color: var(--neutral-white);
          font-family: var(--main-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          text-decoration: none;

          &:hover {
            color: var(--lavander-alternative);
          }
        }
      }

      .social-links {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .form-wrapper {
    background: var(--lavander-alternative);
    position: relative;

    &::before {
      content: '';
      display: block;
      background: var(--lavander-alternative);
      width: 100dvh;
      height: 100%;
      top: 0;
      right: -100dvh;
      position: absolute;
    }

    .form {
      padding: 66px 0 50px 34px;

      h4 {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 16px;
      }

      .description {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        margin-bottom: 28px;
      }

      .legal-text {
        color: var(--neutral-white);
        font-family: var(--main-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;

        a {
          color: inherit;
          text-decoration: underline;
        }
      }

      form {
        margin-bottom: 20px;

        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 17px;
        }

        .mc-field-group {
          width: 100%;
        }

        input {
          border-radius: 4px;
          border: 2px solid var(--neutral-white);
          background: var(--lavander);
          color: var(--neutral-white);

          font-family: var(--main-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          padding: 11px 10px;
          width: 100%;

          &::placeholder {
            color: var(--neutral-white);
          }
        }

        input[type="submit"] {
          padding: 8px 16px;
          border-radius: 4px;
          background: var(--neutral-white);
          color: var(--lavander-alternative);
          font-family: var(--main-font);
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%;
          border: unset;
          width: fit-content;
          border: 2px solid var(--neutral-white);

          &:hover {
            border: 2px solid var(--neutral-white);
            color: var(--neutral-white);
            background: rgba(125, 125, 240, 0.10);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-wrapper {
    .row {
      flex-direction: column-reverse;
    }

    .meta {
      padding: 50px 16px;

      .logo {
        margin-bottom: 39px;
      }

      .links-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;

        a {
          font-size: 16px;
        }
      }

      .extra-links {
        gap: 50px;

        .links {
          flex-direction: column;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 17px;

          a {
            font-size: 16px;
          }
        }

        .social-links {
          gap: 10px;
        }
      }
    }

    .form-wrapper {
      .form {
        padding: 30px 0;

        h4 {
          font-size: 25px;
          margin-bottom: 10px;
        }

        .description {
          font-size: 18px;
          margin-bottom: 18px;
        }

        form {
          gap: 10px;

          input {
            font-size: 16px !important;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        background: var(--lavander-alternative);
        width: 100dvh;
        height: 100%;
        top: 0;
        left: -100dvh;
        position: absolute;
      }
    }
  }
}